html,
body {
    height: 100%;
    width: 100%;
}

.Root {
    background-image: radial-gradient(#005aff, #377eff);
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: auto;
    padding: 0;
    width: 80%;
}

@media (max-width: 600px) {
    .Root {
      margin: 0 !important;
      width: 95% !important;
    }
  }

.BodyContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.InfoText {
    max-width: 70%;
}

.TableCell {
    text-align: center;
}

.SubscribeForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    text-align: center;
}

.SubscribedNotice {
    display: none;
    max-width: 40rem;
}