@media screen and (min-width: 800px) {

    html,
    body {
        height: 100%;
        width: 100%;
    }

    .Root {
        height: 100%;
        margin: auto;
        padding: 20px;
        width: 80%;
    }
}

.Root {
    background-image: radial-gradient(#005aff, #377eff);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Super small screens */
@media screen and (max-width: 340px) {
    .DisposableIfNeededTableCell {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .Root {
        margin: auto;
        padding: 0px;
        width: 95%;
    }

    .ExamplesTable {
        max-width: 90%;
    }

    .DisposableTableCell {
        display: none;
    }
}

.BodyContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto;
    max-width: 900px;
}

.Title,
.Subtitle,
.InfoText {
    text-align: center;
}

.InfoText {
    color: #f3f3f3;
}

.TableCell {
    color: #62ff00;
    padding: 0px 10px;
    text-align: center;
}

.EmphasisTableCell {
    font-weight: bold;
}

.TableCell p {
    margin-top: 4px;
}

.Contacts {
    margin-top: 20px;
}

.MailChimpSubscribeFormContainer {
    color: black;
    margin-top: 16px;
}

.MailChimpSubscribeForm {
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.ExampleIcon {
    fill: white;
    height: 30px;
    width: 30px;
}